*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background: #141414;
}

.titulo{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1rem;
    font-weight: bold;
    letter-spacing: 2px;
    color: #ffff;
    text-align: center;
}
.corpo{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 0.9rem;
    font-weight: normal;
    letter-spacing: 1px;
    color: #fff;
}
.nav-link{
    color: #fff;
}
.nav-link:hover{
    color: #E50914;
    transform: scale(1.2);
}

header{
    display: flex;
    flex-direction: row;
    background-color: transparent;
}
footer{
    background-color: #221F1F;
    color: #fff;
}
.list-nav{
    display: inline-block;
}
.container2{
    position: relative;
    margin-top: 30%;
    margin-bottom: 0px;
    left: 50%;
    transform: translate(-50%, -50%);
    width: auto;
    height: 500px;
}

.container2 .slide .item{
    width: 200px;
    height: 200px;
    position: absolute;
    top: 60%;
    transform: translate(0, -50%);
    border-radius: 20px;
    box-shadow: 0 15px 25px #1414148f;
    background-position: 50% 50%;
    background-size: cover;
    transition: 0.5s;
}

.slide .item:nth-child(1),
.slide .item:nth-child(2){
    top: 0;
    left: 0;
    transform: translate(0, 0);
    border-radius: 0;
    width: 100%;
    height: 100%;
}


.slide .item:nth-child(3){
    left: 50%;
}
.slide .item:nth-child(4){
    left: calc(50% + 220px);
}
.slide .item:nth-child(5){
    left: calc(50% + 440px);
}

/* here n = 0, 1, 2, 3, */
.slide .item:nth-child(n + 6){
    left: calc(50% + 66px);
    opacity: 0;
}



.item .content{
    position: relative;
    top: 50%;
    left: 100px;
    width: 300px;
    text-align: left;
    color: #eee;
    transform: translate(0, -50%);
    font-family: system-ui;
    display: none;
}


.slide .item:nth-child(2) .content{
    display: block;
}


.content .name{
    font-size: 40px;
    text-transform: uppercase;
    font-weight: bold;
    opacity: 0;
    animation: animate 1s ease-in-out 1 forwards;
}

.content .des{
    margin-top: 10px;
    margin-bottom: 20px;
    opacity: 0;
    animation: animate 1s ease-in-out 0.3s 1 forwards;
}

.content button{
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    opacity: 0;
    animation: animate 1s ease-in-out 0.6s 1 forwards;
}


@keyframes animate {
    from{
        opacity: 0;
        transform: translate(0, 100px);
        filter: blur(33px);
    }

    to{
        opacity: 1;
        transform: translate(0);
        filter: blur(0);
    }
}



.button{
    width: 100%;
    text-align: center;
    position: absolute;
    bottom: 20px;
}

.button button{
    width: 40px;
    height: 35px;
    border-radius: 8px;
    border: none;
    cursor: pointer;
    margin: 0 5px;
    border: 1px solid #000;
    transition: 0.3s;
}

.button button:hover{
    background: #ababab;
    color: #fff;
}

.tech-list div img{
    width: 50px;
    height: 50px;
}

.nav-item{
    padding-right: 50px;
}
.cards{
    display: none;
}
#card-1{
    background-image: url('assets/imagens/tradutorCard.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 70vh;
}
#card-2{
    background-image: url('assets/imagens/tradutorCard.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 70vh;
}
#card-3{
    background-image: url('assets/imagens/tradutorCard.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 70vh;
}
.title-card{
    color: #fff;
    font-size: 2rem;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-weight: bold;
    text-align: center;
}
.card-text{
    color: #fff;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-weight: 400;
}
/* MEDIA QUERIES */


@media (max-width: 576px) { 
    .container2{
        display: none;
    }
    .carousel{
        display: block;
    }
    #vitorLogo{
        
    }
    .navbar{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .navbar .delimitador{
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 0px;
    }
    .nav-item{
        padding-right: 0px;
        padding: 10px;
    }
    .about-me{
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    .about-me-text{
        display: flex;
        flex-direction: column;
        justify-content: center;
        text-align: justify;
        margin-top: 10%;
    }
    .h3-vitor{

        display: none;    
     }
     .cards{
        display: block;
    }
    
 }

@media (max-width: 768px) { 
    .navbar .delimitador{
        display: flex;
        text-align: center;
        justify-content: center;
        align-items: center;
        padding: 0px;
        margin: auto;
    }
    .vitorLogo{
        display: flex;
        justify-content: center;
        align-items: center;
        margin: auto;
    }
    .corpo{
        font-family: Arial, Helvetica, sans-serif;
        font-size: 0.9rem;
        font-weight: normal;
        letter-spacing: 1px;
        color: #fff;
        text-align: justify;
        width: 80vw;
    }
 }

@media (max-width: 992px) {
    .cards{
        display: block;
    }
  }

@media (max-width: 1200px) { 
    .cards{
        display: block;
    }
 }

@media (max-width: 1400px) { 
    .container2{
        display: none;
    }
    .cards{
        display: block;
    }
 }
